// Custom.scss
// This is the file you will want to update to customize your page.

// Import Google fonts here



// Include any default variable overrides here (colors, font sizes, font family, etc..)
$primary:       #A04ADD;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

// Adjust nav link hover color here



// Typography
// Change font family for base text


// Change font family for headings



// Change font sizes for h1-h6 using values in assignment



@import "../node_modules/bootstrap/scss/bootstrap";

// Add additional custom code here

// Target .navbar-brand and change font-family to use 'Libre Baskerville'.
